<!DOCTYPE HTML>
<html layout:decorator="fragments/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-md-12">
                <h2>Team List</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Post Count</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="team : ${teams}">
                        <td th:text="${team.id}">team id</td>
                        <td th:text="${team.title}">team.title</td>
                        <td th:text="${team.description}">team.description</td>
                        <td th:text="${#lists.size(team.posts)}">team.postCount</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>